body {
	background-color: #f9f9f9;
	color: #3a3a3a;
	font-family:Courier New;
	font-size: 32px;
	margin: 10px 40px 10px 50px;
}
a {
	color:#5f5f5f;
	text-decoration: none;
	cursor: pointer;
}

li {
	padding: 0px 15px 0px 15px;
	cursor: pointer;
}
h1 {
	font-family: bell go
	padding: 5px 5px 5px 5px;
	margin-left: 0px;
	align-items: center;
	align-content: center;
	align-self: center;
}

h2 {
	padding: 5px 5px 5px 5px;
	margin-left: 45px;
}

p {
	font-family: News Cycle;
	margin-left: 20px;
	font-size:22px;
}

.panel-default {
	background: transparent;
}

.panel-body {
	padding-left: 0px;
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    text-align: center;
    float: none;
    align-items: center;
    display: inline-block;
    margin:0 auto;
    left: 0;
    padding-left: 70px;
}

.col-sm-4 {
	padding: 5px 5px 5px 5px;
}

.col-sm-6{
	padding: 5px 5px 5px 5px;
	margin-left: 0px;
}

#body{
	display: inline-block;
	width:100%;
	margin: 0px;
	float:none;
}

#footer{
	display: inline-block;
	width:100%;
	margin: 0px;
	align-items: center;
}

#social {
	padding-left: 0px;
	padding-right: 0px;
	align-items: center;
	float:right;
}

.icon {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0px 2px 0px 0px;
	float:left;
}

#experience {
	display: none;
}

#passions {
	display: none;
}

#working{
	display:none;
}

#student_deets{
	text-align: right;
}

#student_title{
	padding-left: 20px;
}
