@font-face {
 font-family: "CrystalUniverse";
 src: url("CrystalUniverse-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: "CrystalUniverse";
 src: url("CrystalUniverse-Regular.ttf") /* TTF file for CSS3 browsers */
}

.body2 {
	background: url(chicago.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color: #3a3a3a;
	font-family: Courier New;
	padding-top: 70px;
}

body {
	background-color: #fedbe3;
	padding-top: 70px;
	font-family: Courier New;
}

a {
	color:#272727;
	text-decoration: none !important;
	cursor: pointer;
}

a:hover{
	color:#F58EA6;
}

ul {
  list-style-type: none;
}

li {
	font-family:CrystalUniverse;
	cursor: pointer;
	color: #000000;
}

li:hover{
	color:#F58EA6;
}

h1 {
	font-family: CrystalUniverse;
	align-items: center;
	align-content: center;
	align-self: center;
	color:#272727;
	font-size: 30px;
}

h2 {
	margin-left: 0px;
	font-family: Calibri;
	padding: 0px 5px 0px 5px;
	align-items: center;
	align-content: center;
	align-self: center;
	color:#272727;
	font-size: 24px;
}

h2:hover{
	color:#F58EA6;
}

p {
	font-family: Calibri;
	margin-left: 20px;
	font-size:16px;
}

hr {
	border-color:#FFC629 !important;
}

iframe {
	width: 100%;
	height: 800px;
	text-align:center;
}

.page-header{
	display: flex;
	margin-top: 0px;
	padding-top: 0px;
	background:transparent;
	border:none;
}

.navbar{
	background:#fedbe3;
	padding-top: 10px;
	line-height: 50px;
	margin-bottom: 0px;
    border:none;
}

.navbar-default .navbar-brand{
	color:black;
}

.navbar-right{
	padding-top: 0px;
	padding-right:1.5em;
}

.navbar-nav>li {
	font-size: 18px;
	display: inline-block;
    float: none;
    padding-left:1.3em;
}

.panel {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-default {
	background: transparent;
	box-shadow: none;
}

.panel-body {
	box-shadow: none;
}

.col-sm-4 {
	padding: 5px 5px 5px 5px;
}

.col-sm-6{
	padding: 5px 5px 5px 15px;
	margin-left: 0px;
}

.collapse.in{
	display:block;
}

#body{
	display: inline-block;
	width:100%;
	margin: 0px;
	float:none;
}

#footer{
	display: inline-block;
	width:100%;
	margin: 0px;
	align-items: center;
}

.fa {
	padding: 0px 0px 0px 0px !important;
	cursor: pointer !important;
}

.fa.fa-minus{
	display: none;
}

.fa.fa-download{
	font-size: 3em;
	color:black;
}

.fa:hover{
	color:#F58EA6;
}

#experience {
	display: none;
}

#passions {
	display: none;
}

#resume{
	display: none;
}

#reports{
	display: none;
}

#student_deets{
	text-align: right;
}

#student_title{
	padding-left: 20px;
}

#downloadResume{
	padding-bottom: 20px;
	padding-left: 20px;
	float:left;
	color:#2274A5;
}

.content {
	display: none;
}

.btn-primary-outline {
	color:black;
	background-color: transparent;
}


